{{serverInformation.name}}

<div>
    <div>
        <input type="button" (click)="showForm()"  value="Mostar forma">
        <app-file-form *ngIf="formEnabled" [server]="serverInformation"></app-file-form>
    </div>
</div>

<label>LOGS</label>
<div  class="flexBox">
    <ng-container *ngFor="let log of serverInformation.logs" class="child">
        <app-card class="element" [title]="log.name" [content]="log.cardContent" [actions]="[]" [objectToReturn]="log" (actionClick)="actionsButton($event)"></app-card>
    </ng-container>
</div>
<label>SCRIPTS</label>
<div  class="flexBox">
    <ng-container *ngFor="let script of serverInformation.scripts" class="child">
        <app-card class="element" [title]="script.name" [content]="script.cardContent" [actions]="[]" [objectToReturn]="script" (actionClick)="actionsButton($event)"></app-card>
    </ng-container>
</div>


    <!-- <div *ngIf="serverInformation?.scripts?.length">
        <div *ngFor="let script of serverInformation.scripts">
            <p>
                {{script.type}}
                </p>
                <p>
                {{script.name}}
                </p>
                <p>
                {{script.serverName}}
                </p>
                <p>
                {{script.content}}
                </p>      
        </div>
    </div>

    <p>
        ---------------------------
    </p>
    <div *ngIf="serverInformation?.logs?.length">
        <div *ngFor="let log of serverInformation.logs">
            <p>
            {{log.type}}
            </p>
            <p>
            {{log.name}}
            </p>
            <p>
            {{log.serverName}}
            </p>
            <p>
            {{log.content}}
            </p>     
        <div>
    
    </div> -->